@charset "UTF-8";

#wrap{width:1000px; height:800px;}
#header{width:900px; height:130px; margin-left:50px; margin-bottom:0px; padding:10px; background-color: #ff8000;}
#sidebar{width:200px;height:500px; float:left; margin-left:50px; margin-right:10px; background-color: #c0c0c0;}
#content{width:700px; height:500px;float:left;padding-top: 10px;}
#footer{width:900px; height:130px; float:left; margin-left:50px; background-color: #000080;}

.login{float:right;}
.logo{float:left;}