@charset "UTF-8";




/* 로그인  */
.table_wrap th{height:50px; background-color:#efefef; border:1px solid #ccc; box-sizing:border-box; text-align:center; }
.table_wrap td{text-align:center; border:1px solid #ccc; box-sizing:border-box;}
.table_wrap input{width:300px; height:35px; padding:10px; line-height:15px; border:1px solid #cbcbcb; box-sizing: border-box;}
.table_wrap{width:700px; margin:0 auto;}
.table_wrap .last{overflow:hidden; padding-top:10px; border:none; box-sizing:border-box;}
.table_wrap .checkbox{float:left;}
.table_wrap .checkbox li{float:left; position:relative; margin-left:30px;}
.table_wrap .checkbox li:before{position:absolute; left:-15px; top:5px; width:1px; height:15px; background-color:#ccc; content:'';}
.table_wrap .checkbox li:first-child{margin-left:0;}
.table_wrap .checkbox li:first-child:before{width:0;}
.table_wrap .r_login{float:right; height:50px; font-weight:bold;}


/* 우측컨텐츠 */
.right_inner{width:768px; margin:0 auto;}
table{margin-bottom:20px;}

/* 공통 */
th{height:50px; background-color:#efefef; color:#000; font-size:18px; border:1px solid #ccc;}
td{padding:10px; color:#000; text-align:center; border:1px solid #ccc; box-sizing:border-box;}
.cus_input{width:100px !important; height:50px !important; border:0 !important; font-weight:bold; letter-spacing:-1.5px; cursor:pointer;}
.last{padding:10px 0; border:0;}
.last ul{overflow:hidden;}
.last li{float:left; margin-left:15px;}
.last li:first-child{margin-left:0;}
.tit{margin-bottom:50px; text-align:center; font-size:28px; font-weight:500; line-height:1.2;}
input[type="text"],
input[type="number"],
select{width:300px; height:35px; padding:10px; line-height:15px; border:1px solid #cbcbcb; box-sizing: border-box;}
