<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		
		<!-- controller  -->
		<bean class="controller.myShop.MyShopController"/>
		<bean class="controller.myShop.MyShopMenuController"/>
		<!-- //controller -->
		
		<bean class="service.myShop.MyShopComPhone" />
		<bean class="service.myShop.MenuTitleService"/>
		<bean class="service.myShop.MyShopInfoModify"/>
		<bean class="service.myShop.MyShopInfoService"/>
		<bean class="service.myShop.MyShopSetService"/>
		<bean class="service.myShop.ComNoticeService"/>
		<bean class="service.myShop.MenuChoiceService"/>
		
		<bean class="repository.MyShopMenuRepository"/>
		<bean class="repository.MyShopRepository" />
		
		<bean class="service.myShop.LiveOrderService"/>
		<bean class="service.myShop.ReviewService"/>
</beans>