<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="controller.company.CompanyController" />
	
	
	<bean id="companyRepository" class="repository.CompanyRepository" />
	<bean id="companyListService" class="service.company.CompanyListService" />
</beans>