<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean class="controller.shop.ShopController"/>
		
		<bean id="shopRepository" class="repository.ShopRepository" />
		
		<bean id="shopJoinService" class="service.shop.ShopJoinService"/>
		<bean id="shopListService" class="service.shop.ShopListService"/>
		<bean id="shopInfoService" class="service.shop.ShopInfoService"/>
		<bean id="myShopListService" class="service.shop.MyShopListService"/>
		<bean id="shopDeleteService" class="service.shop.ShopDeleteService"/>

</beans>