<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<!-- controller  -->
		<bean class="controller.main.MainController"/>
		<bean class="controller.main.MyInfoController"/>
		<bean class="controller.main.CustomerController"/>
		<bean class="controller.main.LoginController"/>
		<!-- //controller  -->

		<!-- service  -->
		<bean id="loginService" class="service.main.LoginService" />
		<bean id="customerService" class="service.main.CustomerService" />
		<bean id="loginRepository" class="repository.LoginRepository" />
		<bean id="mainRepository" class="repository.MainRepository" />
		<!-- //service -->
</beans>