<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.myShopMapper">
	<select id="myShopInfo" parameterType="String" resultType="Model.CompanyDTO">
 		SELECT CEO_ID ceoId, CEO_NAME ceoName, COM_NUM comNum, COM_ID comId, 
 		COM_NAME comName, COM_ADDRESS comAddress, COM_CATEGORY comCateGory,
 		COM_NOTICE comNotice, COM_NOTICE_IMG comNoticeImg, 
 		MIN_PRICE minPrice, DELIVERYPAY deliverypay, FREEDELIVERY freeDelivery, 
 		BUSINESSTIME businesstime, DELIVERYZONE deliveryZone, APPDATE appDate, COM_PHONE comPhone
 		from company 
 		where COM_ID = #{comId}
 	</select>
 	
 	<update id="shopUpdate" parameterType="Model.CompanyDTO">
 		UPDATE COMPANY SET DELIVERYPAY = #{deliverypay}, BUSINESSTIME = #{businesstime}, COM_PHONE = #{comPhone}
 		where COM_ID = #{comId}
 	</update>
 	
 	<update id="comNco" parameterType="Model.CompanyDTO">
 		UPDATE COMPANY SET COM_NOTICE = #{comNotice}, COM_NOTICE_IMG = #{comNoticeImg}
 		where COM_ID = #{comId}
 	</update>
 	
 	<update id="comNoticeEn" parameterType="Model.CompanyDTO">
		UPDATE COMPANY SET COM_NOTICE = #{comNotice}, COM_NOTICE_IMG = #{comNoticeImg}
		where COM_ID = #{comId}	
 	</update>
 	
 	<update id="comPhoneChange" parameterType="Model.CompanyDTO">
 		UPDATE COMPANY SET COM_PHONE = #{comPhone}
 		where COM_ID = #{comId}
 	</update>
 	
 	<!-- 주문 -->
 	<select id="liveOrder" resultType="Model.OrderDTO" parameterType="string">
 		select O.ORDER_NUM orderNum, O.ORDERDATE orderDate, O.ORDER_RESULT orderResult,
 		O.COM_ID comId, B.TOTAL_PRICE totalPrice , O.MEM_ID memId
		from ORDERLIST O JOIN BASKET B
		ON O.MEM_ID = B.MEM_ID 
		WHERE O.COM_ID = #{comId} and O.ORDER_RESULT = '주문완료' or O.ORDER_RESULT = '조리중'
 	</select>
 	
 	<select id="orderDetail" parameterType="String" resultType="Model.OrderDTO">
        SELECT O.ORDER_NUM orderNum, O.ORDERDATE orderDate, O.METHODSPAYMENT methodsPayment, 
        O.ORDER_RESULT orderResult, O.ORDER_ADDRESS orderAddress, O.ORDER_REQUEST orderRequest, 
        O.MENU_ID menuId, O.COM_ID comId, O.ORDERSITUATION orderSituation, O.INSTALMENT instalment, 
        O.COUPON coupon, O.ORDERSTATE orderState, O.MEM_ID memId, M.MENU_NAME menuName, M.MENU_PRICE menuPrice, 
        B.MENU_COUNT menuCount, B.TOTAL_PRICE totalPrice, B.CHOICEMENU choiceMenu
 		FROM ORDERLIST O 
 		JOIN MENU M  
 		ON O.COM_ID = M.COM_ID
 		JOIN BASKET B 
 		ON O.MEM_ID = B.MEM_ID
 		WHERE O.ORDER_NUM = #{orderNum}
 	</select>
 	
 	<update id="orderUpdate" parameterType="Model.OrderDTO">
 		UPDATE ORDERLIST 
 		SET ORDER_RESULT = #{orderResult} , ORDERSITUATION = #{orderSituation}
 		WHERE ORDER_NUM = #{orderNum}
 	</update>
 	
 	<select id="shopOrderList" resultType="Model.OrderDTO" parameterType="string">
 		select O.ORDER_NUM orderNum, O.ORDERDATE orderDate, O.ORDER_RESULT orderResult,
 		O.COM_ID comId, B.TOTAL_PRICE totalPrice
		from ORDERLIST O JOIN BASKET B
		ON O.COM_ID = B.COM_ID 
		WHERE O.COM_ID = #{comId} and O.ORDER_RESULT = '배달완료'
 	</select>
</mapper>