<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.myShopMapper">
	<select id="myShopInfo" parameterType="String" resultType="Model.CompanyDTO">
 		SELECT CEO_ID ceoId, CEO_NAME ceoName, COM_NUM comNum, COM_ID comId, 
 		COM_NAME comName, COM_ADDRESS comAddress, COM_CATEGORY comCateGory,
 		COM_NOTICE comNotice, COM_NOTICE_IMG comNoticeImg, 
 		MIN_PRICE minPrice, DELIVERYPAY deliverypay, FREEDELIVERY freeDelivery, 
 		BUSINESSTIME businesstime, DELIVERYZONE deliveryZone, APPDATE appDate, COM_PHONE comPhone
 		from company 
 		where COM_ID = #{comId}
 	</select>

 	<update id="shopUpdate" parameterType="Model.CompanyDTO">
 		UPDATE COMPANY SET DELIVERYPAY = #{deliverypay}, BUSINESSTIME = #{businesstime}, COM_PHONE = #{comPhone}
 		where COM_ID = #{comId}
 	</update>
 	
 	<update id="comNco" parameterType="Model.CompanyDTO">
 		UPDATE COMPANY SET COM_NOTICE = #{comNotice}, COM_NOTICE_IMG = #{comNoticeImg}
 		where COM_ID = #{comId}
 	</update>
 	
 	<update id="comNoticeEn" parameterType="Model.CompanyDTO">
		UPDATE COMPANY SET COM_NOTICE = #{comNotice}, COM_NOTICE_IMG = #{comNoticeImg}
		where COM_ID = #{comId}	
 	</update>
 	
 	<update id="comPhoneChange" parameterType="Model.CompanyDTO">
 		UPDATE COMPANY SET COM_PHONE = #{comPhone}
 		where COM_ID = #{comId}
 	</update>
 	
 	<!-- 주문 -->
 	<select id="liveOrder" resultType="Model.OrderDTO" parameterType="string">
 		select ORDER_NUM orderNum, ORDERDATE orderDate, ORDER_RESULT orderResult, COM_ID comId , ORDERSTATE orderState ,
 		TOTALPRICE totalPrice
		from ORDERLIST 
		WHERE COM_ID = #{comId} ORDER BY ORDERDATE ASC
 	</select>
 	
 	<select id="orderDone" resultType="Model.OrderDTO" parameterType="string">
 		select ORDER_NUM orderNum, ORDERDATE orderDate, ORDER_RESULT orderResult, COM_ID comId , ORDERSTATE orderState ,
 		TOTALPRICE totalPrice
		from ORDERLIST 
		WHERE COM_ID = #{comId} AND ORDERSTATE = '배달완료' ORDER BY ORDERDATE ASC
 	</select>
 	
 	<select id="orderReject" resultType="Model.OrderDTO" parameterType="string">
 		select ORDER_NUM orderNum, ORDERDATE orderDate, ORDER_RESULT orderResult, COM_ID comId , ORDERSTATE orderState ,
 		TOTALPRICE totalPrice
		from ORDERLIST 
		WHERE COM_ID = #{comId} AND ORDER_RESULT = '주문거절'ORDER BY ORDERDATE ASC
	</select>
 	
 	<update id="liveOverStateUpdate" parameterType="Model.OrderDTO">
 		UPDATE ORDERLIST 
 		SET ORDERSTATE = #{orderState}
 		WHERE ORDER_NUM = #{orderNum} 
 	</update>
 	
 	<select id="orderDateList" parameterType="Model.DateDTO" resultType="Model.OrderDTO">
 		SELECT ORDER_NUM orderNum, ORDERDATE orderDate, ORDER_RESULT orderResult, COM_ID comId , ORDERSTATE orderState ,
 		TOTALPRICE totalPrice
		FROM ORDERLIST
		WHERE COM_ID = #{comId}
		AND ORDERDATE BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD') AND TO_DATE(#{endDate},'YYYY-MM-DD')
 		ORDER BY ORDERDATE ASC
 	</select>
 	
 	<select id="orderDetail" parameterType="String" resultType="Model.OrderDTO">
		SELECT ORDER_NUM orderNum, ORDERDATE orderDate, METHODSPAYMENT methodsPayment, ORDER_RESULT orderResult, 
		ORDER_ADDRESS orderAddress, ORDER_REQUEST orderRequest, ORDERSITUATION orderSituation, INSTALMENT instalment, 
		COUPON coupon, ORDERSTATE orderState, MEM_ID memId, TOTALPRICE totalPrice
		FROM ORDERLIST
		WHERE ORDER_NUM = #{orderNum}
 	</select>
 	
 	<select id="listMenuName" parameterType="string" resultType="Model.MenuListDTO">
		SELECT M.MENU_NAME menuName, M.MENU_PRICE menuPrice , C.MENU_COUNT menuCount
		FROM MENU M
		INNER JOIN CART C
		ON M.MENU_ID = C.MENU_ID AND C.ORDER_NUM = #{orderNum}
	</select>
 	
 	<update id="orderConfirm" parameterType="Model.OrderDTO">
 		UPDATE ORDERLIST 
 		SET ORDER_RESULT = #{orderResult} , ORDERSITUATION = #{orderSituation}, ORDERSTATE = #{orderState}
 		WHERE ORDER_NUM = #{orderNum}
 	</update>
 	
 	<!-- 리뷰 -->
 	<select id="reviewList" parameterType="String" resultType="Model.ReviewDTO">
 		SELECT R.ORDER_NUM orderNum,R.REVIEW_CONTENT reviewContent,R.REVIEW_STAR reviewStar,R.REVIEW_IMG reviewImg,
 		R.REVIEW_DATE reviewDate,R.CEOREPLIES ceoreplies, O.COM_ID comId,O.MEM_ID memId
 		FROM REVIEW R JOIN ORDERLIST O 
 		ON R.ORDER_NUM = O.ORDER_NUM
 		WHERE O.COM_ID = #{comId}
 		ORDER BY REVIEW_DATE DESC
 	</select>
 	
 	<update id="replyWrite" parameterType="Model.ReviewDTO">
 		UPDATE REVIEW
 		SET CEOREPLIES = #{ceoreplies}
 		WHERE ORDER_NUM = #{orderNum}
 	</update>
 	
 	<select id="reviewDateList" parameterType="Model.DateDTO" resultType="Model.ReviewDTO">
 		SELECT R.ORDER_NUM orderNum,R.REVIEW_CONTENT reviewContent,R.REVIEW_STAR reviewStar,R.REVIEW_IMG reviewImg,
 		R.REVIEW_DATE reviewDate,R.CEOREPLIES ceoreplies, O.COM_ID comId,O.MEM_ID memId
 		FROM REVIEW R JOIN ORDERLIST O 
 		ON R.ORDER_NUM = O.ORDER_NUM
 		WHERE O.COM_ID = #{comId} 
 		AND TO_DATE(R.REVIEW_DATE) BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD') AND TO_DATE(#{endDate},'YYYY-MM-DD')
 		ORDER BY REVIEW_DATE DESC
 	</select>
 	
 	<select id="noReplies" parameterType="String" resultType="Model.ReviewDTO">
 		SELECT R.ORDER_NUM orderNum,R.REVIEW_CONTENT reviewContent,R.REVIEW_STAR reviewStar,R.REVIEW_IMG reviewImg,
 		R.REVIEW_DATE reviewDate,R.CEOREPLIES ceoreplies, O.COM_ID comId,O.MEM_ID memId
 		FROM REVIEW R JOIN ORDERLIST O 
 		ON R.ORDER_NUM = O.ORDER_NUM
 		WHERE O.COM_ID = #{comId} and R.CEOREPLIES is null
 		ORDER BY REVIEW_DATE DESC
 	</select>
 	
 	
</mapper>