<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="mybatis.properties"  >
		<property name="jdbc.password" value="baedal123"/>
	</properties>
	<settings>
		<setting value="false" name="cacheEnabled"/>
		<setting value="true" name="useGeneratedKeys"/>
		<setting value="true" name="mapUnderscoreToCamelCase"/>
		<setting value="PARTIAL" name="autoMappingBehavior"/>
	</settings>
	<typeAliases>
		
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.userName}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
		<environment id="release">
			<transactionManager type="JDBC" />
				<dataSource type="POOLED">
					<property value="${jdbc.driver}" name="driver" />
					<property value="${jdbc.url}" name="url" />
					<property value="${jdbc.userName}" name="username" />
					<property value="${jdbc.password}" name="password" />
				</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/orderMapper.xml"/>
	</mappers>
</configuration>