@charset "UTF-8";

/* 공통  */
.tit{margin-bottom:50px; text-align:center; font-size:28px; font-weight:500; line-height:1.2;}
th{height:50px; background-color:#efefef; color:#000; font-size:18px; border:1px solid #ccc;}
td{padding:10px; color:#000; text-align:center; border:1px solid #ccc; box-sizing:border-box;}
.cus_input{width:100px !important; height:50px !important; border:0 !important; font-weight:bold; letter-spacing:-1.5px;}
.last{padding:10px 0; border:0;}
input[type="text"],
input[type="number"],
select{width:300px; height:35px; padding:10px; line-height:15px; border:1px solid #cbcbcb; box-sizing: border-box;}


/* right_cont 수정 */
.sub .right_cont{padding:200px 90px 0;}

/* shopInfo */
.shopInfo .menu{height:890px;}
.shopInfo .right_cont{padding-bottom:60px;}
.shopInfo .inner{width:768px; margin:0 auto;}
.shopInfo .inner .last ul{overflow:hidden;}
.shopInfo .inner .last li {float:left;}
.shopInfo .inner .last li:nth-child(2){margin-left:10px;}

/* myInfo */
.myInfoPage .inner,
.ceoup .inner{width:768px; margin:0 auto;}
.myInfoPage .inner table{border:0;}
.myInfoPage .inner .last li{position:relative; float:left; margin-left:20px;}
.myInfoPage .inner .last li:before{position:absolute; left:-10px; top:5px; width:1px; height:15px; background-color:#ccc; content:'';}
.myInfoPage .inner .last li:first-child{margin-left:0;}
.myInfoPage .inner .last li:first-child:before{display:none;}

/* shopResist */
.shopResist{}
.shopResist .inner{width:60%; margin:0 auto;}
.shopResist .addr_sea{display:inline-block; width:75px; height:35px; line-height:35px; font-weight:500; border:1px solid #ccc; color:#000; letter-spacing:-2px; box-sizing: border-box;}

/* myShopInfo */
.msI .inner{width:768px; margin:0 auto;}
.myShopInfo .com_notice ul{display:inline-block;}
.myShopInfo .com_notice ul li{position:relative; float:left; margin-left:20px;}
.myShopInfo .com_notice ul li:before{position:absolute; left:-10px; top:5px; width:1px; height:15px; background-color:#ccc; content:'';}
.myShopInfo .com_notice ul li:first-child{margin-left:0;}
.myShopInfo .com_notice ul li:first-child:before{display:none;}

/* myShopList */
.myShopList .inner{width:768px; margin:0 auto;}

/* cus_notice */
.cus_notice .inner{width:768px; margin:0 auto;}
.cus_notice .inner .ceo_notice{margin-bottom:30px;}
.cus_notice th,
.cus_notice td{border:0;}
.cus_notice td{padding:5px; letter-spacing:-1px;}
.cus_notice .notice_tit{ margin-bottom:50px; padding-bottom:50px; text-align:center; letter-spacing:-1px; font-size:28px; font-weight:500; line-height:1.2; border-bottom:1px solid #ccc;}

.cus_notice2 th,
.cus_notice2 td{}
.cus_notice2 th{height:50px; background-color:#f7f7f7; border-right:1px solid #ccc;}
.cus_notice2 td{padding:20px;  text-align:left;}
.cus_notice2 td p{margin-bottom:30px; font-size:20px; line-height:1.2;}

.cus_notice .que_area{}
.cus_notice .que_area li{  font-weight:500; text-align:center; line-height:1.2; border:1px solid #ccc;}
.cus_notice .que_area li a{display:block; width:100%; line-height:50px; letter-spacing:-1px; background-color:#f7f7f7;}
.cus_notice .que_area li .hide_menu{display:none;}
.cus_notice .que_area li .hide_menu p{padding:10px; font-size:18px; box-sizing: border-box;}