@charset "UTF-8";
.inner{width:1280px; margin:0 auto;}

/* slide */
.slide_wrap .slide{height:700px;}
.slide_wrap .slide img{width:100%; max-height:100%;}

/* 로그인 상단 */
.loginList{overflow:hidden; height:50px; padding:0 50px; line-height:50px; box-sizing: border-box;}
.loginList li{position:relative; float:left; margin-left:30px;}
.loginList li:before{position:absolute; left:-15px; top:18px; width:1px; height:15px; background-color:#ccc; content:''; }
.loginList li:first-child{margin-left:0;}
.loginList li:first-child:before{width:0;}

/* login */
.table_wrap{width:650px; margin:0 auto;}
.table_wrap .last{overflow:hidden; padding-top:10px; border:none; box-sizing:border-box;}
.table_wrap .checkbox{float:left;}
.table_wrap .checkbox li{float:left; position:relative; margin-left:30px;}
.table_wrap .checkbox li:before{position:absolute; left:-15px; top:5px; width:1px; height:15px; background-color:#ccc; content:'';}
.table_wrap .checkbox li:first-child{margin-left:0;}
.table_wrap .checkbox li:first-child:before{width:0;}
.table_wrap .r_login{float:right; height:50px; font-weight:bold;}


/* 검색창 */
.visual{width:100%; height:315px; background:url('../image/main/visual.jpg') 50% 50% no-repeat; background-size:cover;}
.visual .search{padding:95px; box-sizing: border-box;}
.visual dl{text-align:center; font-weight:bold; line-height:1.2; color:#fff;}
.visual dl dt{font-size:42px;}
.visual dl dt span{color:#A1954E;}
.visual dl dd:nth-child(2){margin-bottom:15px;}

.visual dl dd.form_wrap {font-size:0;}
.visual dl dd.form_wrap form{display:inline-block;}
.visual dl dd.form_wrap input{width:280px; height:40px; padding:5px; box-sizing: border-box; border:1px solid #efefef; border-radius:5px;}
.visual dl dd .addrBtn{width:50px; height:40px; background-color:#522D1A; color:#fff; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}

/* 카테고리 */
.category{background-color:#fafafa;}
.category .inner{padding:100px 0;}
.category .col{overflow:hidden; margin-bottom:10px;}
.category .col li{overflow:hidden; position:relative; float:left; width:24%; height:230px; margin-left:1.12%; padding:15px; font-weight:500; background-color:#fff; letter-spacing:-1px; border:2px solid #efefef; box-sizing: border-box;}
.category .col li:first-child{margin-left:0;}
.category .col li:after{position:absolute; right:-2px; bottom:0; width:220px; height:220px; content:'';}

.category .col1 li:nth-child(1):after{background:url('../image/main/category-02.png') 0 0 no-repeat;}
.category .col1 li:nth-child(2):after{background:url('../image/main/category-03.png') 0 0 no-repeat;}
.category .col1 li:nth-child(3):after{background:url('../image/main/category-07.png') 0 0 no-repeat;}
.category .col1 li:nth-child(4):after{background:url('../image/main/category-04.png') 0 0 no-repeat;}

.category .col2 li:nth-child(1):after{background:url(../image/main/category-05.png) 0 0 no-repeat;}
.category .col2 li:nth-child(2):after{bottom:-30px; background:url(../image/main/category-06.png) 0 0 no-repeat;}
.category .col2 li:nth-child(3):after{background:url(../image/main/category-09.png) 0 0 no-repeat;}
.category .col2 li:nth-child(4):after{background:url(../image/main/category-convenience-store.png) 0 0 no-repeat;}

.category .col3{margin-bottom:0;}
.category .col3 li:nth-child(1):after{bottom:-30px; background:url(../image/main/category-11.png) 0 0 no-repeat;}
.category .col3 li:nth-child(2):after{background:url(../image/main/category-10.png) 0 0 no-repeat;}
.category .col3 li:nth-child(3):after{background:url(../image/main/category-onedish.png) 0 0 no-repeat;}
.category .col3 li:nth-child(4):after{background:url(../image/main/category-01.png) 0 0 no-repeat;}