@charset "UTF-8";

/* 공통  */
.tit{padding:100px 0 50px; margin-bottom:50px; text-align:center; font-size:32px; letter-spacing:-1.5px; border-bottom:1px solid #ccc;}
.content{margin-bottom:100px;}
.table_wrap th{height:50px; background-color:#efefef; border:1px solid #ccc; box-sizing:border-box; }
.table_wrap td{text-align:center; border:1px solid #ccc; box-sizing:border-box;}

/* payment */
.payment .table_wrap{width:1280px; margin:0 auto 30px;}
.payment .table_wrap .inner{width:800px; margin:0 auto;}
.payment .table_wrap .inner .tit{padding-top:50px;}
.payment .table_wrap .last{padding-top:30px; border:0;}
.payment .table_wrap .last .btn{height:50px;}

/* goodsCartList */
.goodsCartList .table_wrap{width:1280px; margin: 0 auto;}
.goodsCartList .table_wrap .inner{width:800px; margin:0 auto;}