<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberMapper">
	<insert id="memJoin" parameterType="Model.MemberDTO">
		INSERT INTO CEOMEMBER(CEO_ID, CEO_PW, CEO_EMAIL, CEO_PHONE)
		VALUES(#{ceoId}, #{ceoPw}, #{ceoEmail}, #{ceoPhone})
	</insert>
	
	<select id="memInfo" parameterType="String" resultType="Model.MemberDTO">
		SELECT CEO_ID ceoId, CEO_PW ceoPw, CEO_PHONE ceoPhone, CEO_EMAIL ceoEmail
		FROM CEOMEMBER WHERE CEO_ID = #{ceoId}
	</select>
	
	<update id="ceoUpdate" parameterType="Model.MemberDTO">
		UPDATE CEOMEMBER SET CEO_EMAIL = #{ceoEmail} , CEO_PHONE = #{ceoPhone}
		WHERE CEO_ID = #{ceoId}
	</update>
	
	<delete id="memDelete" parameterType="String">
		DELETE CEOMEMBER WHERE CEO_ID = #{ceoId}
	</delete>
	
	<update id="memPwUpdate" parameterType="Model.MemberDTO">
		UPDATE CEOMEMBER SET CEO_PW = #{ceoPw} WHERE CEO_ID = #{ceoId}
	</update>
</mapper>