<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.foodsMapper">

<select id="shopList" parameterType="string" resultType="model.ShopDTO">
	SELECT COM_ID comId, COM_NUM comNum, CEO_NAME ceoName, COM_NAME comName, COM_IMG comImg, COM_ADDRESS comAddress, 
	COM_CATEGORY comCategory, COM_HALL comHall, DELIVERYPAY deliveryPay, CEO_ID ceoId, COM_NOTICE comNotice, 
	MIN_PRICE minPrice, MENU_CATEGORY menuCategory, DELIVERYZONE deliveryZone, ORIGIN origin, PRINTFLYERS printFlyers, 
	BUSINESSTIME businessTime, SALESDECLARATION salesDeclaration, COM_NOTICE_IMG comNoticeImg, FREEDELIVERY freeDelivery,
	COM_PHONE comPhone
	FROM COMPANY
	WHERE COM_CATEGORY = #{category}
</select>

<select id="comDetail" parameterType="string" resultType="model.ShopDTO">
	SELECT COM_ID comId, COM_NUM comNum, CEO_NAME ceoName, COM_NAME comName, COM_IMG comImg, COM_ADDRESS comAddress, 
	COM_CATEGORY comCategory, COM_HALL comHall, DELIVERYPAY deliveryPay, CEO_ID ceoId, COM_NOTICE comNotice, 
	MIN_PRICE minPrice, MENU_CATEGORY menuCategory, DELIVERYZONE deliveryZone, ORIGIN origin, PRINTFLYERS printFlyers, 
	BUSINESSTIME businessTime, SALESDECLARATION salesDeclaration, COM_NOTICE_IMG comNoticeImg, FREEDELIVERY freeDelivery,
	COM_PHONE comPhone
	FROM COMPANY
	WHERE COM_ID = #{comId}
</select>

<select id="menuTitle" parameterType="string" resultType="model.MenuTitleDTO">
	SELECT MENUTITLE_NUM menuTitleNum, MENUTITLE_NAME menuTitleName, COM_ID comId
	FROM MENUTITLE
	WHERE COM_ID = #{comId}
</select>

<select id="menuList" parameterType="model.MenuTitleDTO" resultType="model.MenuDTO">
	SELECT MENU_ID menuId, MENU_NAME menuName, MENU_PRICE menuPrice, MENU_IMG menuImg, SELL sell, 
	MENU_EXPLAIN menuExplain, MENU_CHOICE menuChoice, COM_ID comId, MENUTITLE_NUM menuTitleNum
	FROM MENU
	WHERE COM_ID = #{comId} AND MENUTITLE_NUM = #{menuTitleNum}
</select>

<select id="menuDetail" parameterType="string" resultType="model.MenuDTO">
	SELECT MENU_ID menuId, MENU_NAME menuName, MENU_PRICE menuPrice, MENU_IMG menuImg, SELL sell, 
	MENU_EXPLAIN menuExplain, MENU_CHOICE menuChoice, COM_ID comId, MENUTITLE_NUM menuTitleNum
	FROM MENU
	WHERE MENU_ID = #{menuId}
</select>

<insert id="addCart" parameterType="model.BasketDTO">
	INSERT INTO BASKET (MEM_ID, MENU_ID, COM_ID, MENU_PRICE, MENU_COUNT)
	VALUES (#{memId}, #{menuId}, #{comId}, #{menuPrice}, #{menuCount})
</insert>

<select id="cartList" parameterType="string" resultType="model.BasketDTO">
	SELECT B.MEM_ID memId, B.MENU_ID menuId, M.MENU_IMG menuImg, M.MENU_NAME menuName, M.MENU_PRICE menuPrice, 
	B.MENU_COUNT menuCount, M.COM_ID comId, (M.MENU_PRICE*B.MENU_COUNT) totalPrice
	FROM BASKET B
	INNER JOIN MENU M
	ON B.MENU_ID = M.MENU_ID AND B.MEM_ID = #{memId}    
</select>

<delete id="cartOneDel" parameterType="model.BasketDTO">
	DELETE FROM BASKET WHERE MEM_ID = #{memId} AND MENU_ID = #{menuId}
</delete>

<delete id="cartAllDel">
	DELETE FROM BASKET WHERE MEM_ID = #{memId}
</delete>

<select id="cartCheck" parameterType="string" resultType="string">
	SELECT DISTINCT COM_ID FROM BASKET WHERE MEM_ID = #{memId}
</select>

</mapper>