<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberMapper">

<insert id="memJoin" parameterType="model.MemberDTO">
	INSERT INTO USERMEMBER(MEM_ID, MEM_PW, MEM_NICKNAME, MEM_EMAIL, MEM_PHONE)
	VALUES(#{memId}, #{memPw}, #{memNickName}, #{memEmail}, #{memPhone})
</insert>

<select id="idDupChk" parameterType="string" resultType="int">
	SELECT COUNT(MEM_ID) FROM USERMEMBER WHERE MEM_ID = #{memId}	
</select>

<select id="emailDupChk" parameterType="string" resultType="int">
	SELECT COUNT(MEM_EMAIL) FROM USERMEMBER WHERE MEM_EMAIL = #{memEmail}
</select>

<select id="memDetail" parameterType="string" resultType="model.MemberDTO">
	SELECT MEM_ID memId, MEM_PW memPw, MEM_NICKNAME memNickName, MEM_EMAIL memEmail, MEM_PHONE memPhone
	FROM USERMEMBER WHERE MEM_ID = #{memId}
</select>

<update id="memUpdate" parameterType="model.MemberDTO">
	UPDATE USERMEMBER
	SET MEM_NICKNAME = #{memNickName}, MEM_EMAIL = #{memEmail}, MEM_PHONE = #{memPhone} 
	WHERE MEM_ID = #{memId}
</update>

<update id="memPwUpdate" parameterType="model.MemberDTO">
	UPDATE USERMEMBER
	SET MEM_PW = #{memPw} WHERE MEM_ID = #{memId} 
</update>

<select id="findId" parameterType="model.MemberDTO" resultType="string">
	SELECT MEM_ID memId FROM USERMEMBER WHERE MEM_EMAIL = #{memEmail} AND MEM_PHONE = #{memPhone}
</select>

<delete id="memQuit" parameterType="string">
	DELETE FROM USERMEMBER WHERE MEM_ID = #{memId}
</delete>


</mapper>