<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.companyMapper">
	<!-- <sql id="baseColumn" >
		CEO_NAME ceoName, CEO_ID ceoId, COM_NUM comNum, 
		COM_NAME comName, APPDATE appDate
	</sql>
	
	<select id="shopList" resultType="Model.ComapnyDTO" parameterType="Model.ComapnyDTO">
		select 	rn, ceoName, ceoId, comNum,	comName, 
				appDate, comHall
		from (select rownum rn, <include refid="baseColumn" /> from company)
	</select> -->
</mapper>