<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">
			
	<bean class="controller.basket.BasketController"/>
	<bean id="BasketRepository" class="repository.BasketRepository"/>
	<bean id="AddCartService" class="service.basket.AddCartService"/>
	<bean id="CartCheckService" class="service.basket.CartCheckService"/>
	<bean id="CartDeleteService" class="service.basket.CartDeleteService"/>
	<bean id="CartListService" class="service.basket.CartListService"/>
	<bean id="PaymentService" class="service.basket.PaymentService"/>
	<bean id="OrderService" class="service.basket.OrderService"/>

</beans>