<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="controller.foods.FoodsOrderController" />
	<bean class="controller.foods.FoodsViewController" />
	<bean class="controller.foods.FoodsCartController" />
	<bean class="controller.foods.FoodsController" />
	<bean id="FoodsRepository" class="repository.FoodsRepository"/>
	<bean id="StoreListService" class="service.foods.StoreListService"/>
	<bean id="CompanyDetailService" class="service.foods.CompanyDetailService"/>
	<bean id="MenuTitleService" class="service.foods.MenuTitleService"/>
	<bean id="MenuListService" class="service.foods.MenuListService"/>
	<bean id="MenuDetailService" class="service.foods.MenuDetailService"/>
	<bean id="StoreLikeService" class="service.foods.StoreLikeService"/>

</beans>