<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="controller.member.MemberController"/>	
	<bean class="controller.member.MemberMyPageController"/>
	<bean id="MemberJoinService" class="service.member.MemberJoinService"/>
	<bean id="MemberRepository" class="repository.MemberRepository"/>
	<bean id="DuplicateIdCheckService" class="service.member.DuplicateIdCheckService"/>
	<bean id="MemberMyPageDetailService" class="service.member.MemberMyPageDetailService"/>
	<bean id="MemberMyPageUpdateService" class="service.member.MemberMyPageUpdateService"/>
	<bean id="MemberPwUpdateService" class="service.member.MemberPwUpdateService"/>

	

</beans>