<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="controller.main.MainController" />
	<bean class="controller.main.LogInController" />
	<bean id="LogInService" class="service.main.LogInService"/>
	<bean id="LogInRepository" class="repository.LogInRepository"/>
	<bean id="MemberFindIdService" class="service.main.MemberFindIdService"/>
	<bean id="MemberFindPwService" class="service.main.MemberFindPwService"/>
	
</beans>