<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.LoginMapper">

<select id="login" parameterType="string" resultType="Model.AuthInfoDTO">
	select ADMINS_PW adminPw, ADMINS_NUM adminNum, ADMINS_ID adminId
	from admins
	where ADMINS_ID = #{adminId}
</select>

<select id="login2" parameterType="string" resultType="Model.AuthInfoDTO">
	select ADMINS_PW adminPw, ADMINS_NUM adminNum, ADMINS_ID adminId
	from admins
	where ADMINS_NUM = #{adminNum}
</select>









</mapper>