<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ShopMapper">

<select id="shopList" resultType="Model.ShopDTO">
select COM_ID comId, COM_NUM comNum, CEO_NAME ceoName, COM_NAME comName, COM_IMG comImg, COM_ADDRESS comAddress, COM_CATEGORY comCategory,
COM_HALL comHall,DELIVERYPAY deliveryPay,CEO_ID ceoId,COM_NOTICE comNotice,MIN_PRICE minPrice,MENU_CATEGORY menuCategory,DELIVERYZONE deliveryZone,
ORIGIN origin,PRINTFLYERS printFlyers,BUSINESSTIME businessTime,SALESDECLARATION salesDeclaration,COM_NOTICE_IMG comNoticeImg,FREEDELIVERY freeDelivery,COM_APPR comAppr
from company order by COM_NUM desc
</select>

<select id="shopDetail" parameterType="string" resultType="Model.ShopDTO">
select COM_ID comId, COM_NUM comNum, CEO_NAME ceoName, COM_NAME comName, COM_IMG comImg, COM_ADDRESS comAddress, COM_CATEGORY comCategory,
COM_HALL comHall,DELIVERYPAY deliveryPay,CEO_ID ceoId,COM_NOTICE comNotice,MIN_PRICE minPrice,MENU_CATEGORY menuCategory,DELIVERYZONE deliveryZone,
ORIGIN origin,PRINTFLYERS printFlyers,BUSINESSTIME businessTime,SALESDECLARATION salesDeclaration,COM_NOTICE_IMG comNoticeImg,FREEDELIVERY freeDelivery,COM_APPR comAppr
from company
where COM_ID=#{comId}
</select>

<insert id="shopAppr" parameterType="string">
update company
set COM_APPR=sysdate
where COM_ID=#{comId}
</insert>

<select id="recommandShopList" resultType="Model.RecommandDTO">
select REC_NUM recNum, COM_ID comId, REQ_DATE reqDate, REC_PAY recPay, APPRV apprv
from recommand order by REQ_DATE desc
</select>

<select id="recommandDetail" parameterType="string" resultType="Model.RecommandDTO">
select REC_NUM recNum, COM_ID comId, REQ_DATE reqDate, REC_PAY recPay, APPRV apprv
from recommand
where REC_NUM = #{recNum}
</select>






</mapper>