<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.orderMapper">

<resultMap type="webSocket.OrderMenuInfoDTO" id="orderMenuInfoDTO">
	<association property="orderDTO" javaType="webSocket.OrderDTO" >
		<id column="ORDER_NUM" jdbcType="VARCHAR" property="orderNum"/>
		<result column="ORDERDATE" jdbcType="DATE" property="orderDate"/>
		<result column="METHODSPAYMENT" jdbcType="VARCHAR" property="methodsPayment"/>
		<result column="ORDER_RESULT" jdbcType="VARCHAR" property="orderResult"/>
		<result column="ORDER_ADDRESS" jdbcType="VARCHAR" property="orderAddress"/>
		<result column="ORDER_REQUEST" jdbcType="VARCHAR" property="orderRequest"/>
		<result column="COM_ID" jdbcType="VARCHAR" property="comId"/>
		<result column="ORDERSITUATION" jdbcType="BIGINT" property="ordersituation"/>
		<result column="INSTALMENT" jdbcType="VARCHAR" property="instalMent"/>
		<result column="COUPON" jdbcType="VARCHAR" property="couPon"/>
		<result column="ORDERSTATE" jdbcType="VARCHAR" property="orderState"/>
		<result column="MEM_ID" jdbcType="VARCHAR" property="memId"/>
		<result column="TOTALPRICE" jdbcType="BIGINT" property="totalPrice"/>
		<result column="MENU_ID" jdbcType="VARCHAR" property="menuId"/>
	</association>
	<collection property="menuInfos" ofType="webSocket.MenuInfoDTO">
		<result column="MENU_NAME" jdbcType="VARCHAR" property="menuName"/>
		<result column="MENU_COUNT" jdbcType="VARCHAR" property="menuCount"/>
		<result column="MENU_PRICE" jdbcType="BIGINT" property="menuPrice"/>
	</collection>
</resultMap>

<select id="orderList" parameterType="string" resultMap="orderMenuInfoDTO">
select o.ORDER_NUM,o.ORDERDATE,o.METHODSPAYMENT,o.ORDER_RESULT,ORDER_ADDRESS,ORDER_REQUEST,
COM_ID,ORDERSITUATION,INSTALMENT,COUPON,ORDERSTATE,MEM_ID,TOTALPRICE, j.MENU_ID,j.MENU_NAME,j.MENU_COUNT, j.MENU_PRICE
from ORDERLIST o join 
(select c.ORDER_NUM , m.MENU_NAME,c.MENU_COUNT,m.MENU_PRICE , m.MENU_ID
from CART c join MENU m on C.MENU_ID = M.MENU_ID WHERE c.ORDER_NUM = #{orderNum}  ) j
on o.ORDER_NUM = j.ORDER_NUM
</select>



</mapper>