<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberMapper">
	<insert id="memJoin" parameterType="Model.MemberDTO">
		INSERT INTO CEOMEMBER(CEO_ID, CEO_PW, CEO_EMAIL, CEO_PHONE)
		VALUES(#{ceoId}, #{ceoPw}, #{ceoEmail}, #{ceoPhone})
	</insert>
</mapper>